:root {
  --orange-color: #F2B331;
  --pink-color: #E75A7C;
  --white-color: #F9F8F8;
  --blue-color: #3891A6;
  --green-color: #11DE66;
  --black-color: #2C363F;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Lexend', sans-serif; /* Apply the custom font here */

}

body {
  font-family: 'Lexend', sans-serif; /* Apply the custom font here */

}



/* Header styles */
.header {

  
}

.shape-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures text stays within the box */
  color: white;
  text-align: center;
}

.HeaderShape {
  position: absolute;
  width: 100%;
  height: 100%;
}

.shape-container p {
  position: relative;
  z-index: 1; /* Ensure text is above the shape */
  margin: 0;
  padding: 10px; /* Add padding if needed */
  max-width: 100%; /* Ensure text does not overflow horizontally */
  overflow-wrap: break-word; /* Ensure long words break to the next line */
  font-family: 'Lexend', sans-serif; /* Apply the custom font here */

}

.svg-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Adjust the positioning of each shape */
.OrangeHeader {
  /* Header Rectangle */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
isolation: isolate;

position: absolute;
width: 45.115vw;
height: 18.6vh;
left: 1.302vw;
top: 2.8vh;

.orange-text {
/* Zaid Shahid Software Developer */
font-family: 'Lexend', sans-serif; /* Apply the custom font here */
text-align: left;
position: absolute;
width: 31.823vw;
height: 7.8vh;
left: 1vm;
top: 1vh;

font-style: normal;
font-weight: 400;
font-size: 3.5em;
line-height: 1.15em;

color: var(--white-color);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

}

}

.BlueHeader {
/* Blue Rectangle */

position: absolute;
width: 50.167vw;
height: 19.3vh;
left: 49.917vw;
top: 12.7vh;

.blue-text{
  /* My Resume */
text-decoration: underline;
text-underline-offset: 1vh;
text-decoration-thickness: 3.4px;
position: absolute;
text-align: left;
width: 16.927vw;
height: 5.3vh;
left: 3.5vw;
top: 1vh;

font-style: normal;
font-weight: 300;
font-size: 2.5em;
line-height: 1.20em;

color: #FFFFFF;


}

}

.PinkHeader {
/* Pink Rectangle */

position: absolute;
width: 60.125vw;
height: 20vh;
left: 3.854vw;
top: 22.6vh;


}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
